NODE_ENV=development
VITE_APP_ENVIRONMENT=local
VITE_APP_VERSION=$npm_package_version
VITE_APP_NAME=$npm_package_name

# Nx
NX_SKIP_NX_CACHE=true
NX_CLOUD_ACCESS_TOKEN=

# Internal MFE ports for each app
VITE_DEV_SERVER_PORT=3000 # Unified dev server port
VITE_APP_AUTHENTICATION_PORT=4200
VITE_APP_LANDING_PORT=4201
VITE_APP_USER_PROFILE_PORT=4202
VITE_APP_DASHBOARD_PORT=4203

# URLs (update to use unified server)
VITE_APP_AUTHENTICATION_URL=http://localhost:3000/authentication
VITE_APP_LANDING_URL=http://localhost:3000/landing
VITE_APP_USER_PROFILE_URL=http://localhost:3000/user-profile
VITE_APP_DASHBOARD_URL=http://localhost:3000/dashboard

# API Configuration
VITE_API_BASE_URL=https://your-api-url/api
VITE_WEBSOCKET_URL='https://your-ws-url/ws'

# Emails
VITE_APP_SUPPORT_EMAIL=your-email

# Google Analytics
VITE_GOOGLE_ANALYTICS_TAG_ID=your-id